[Unit]
Description=Pyrodactyl Panel Auto-Updater
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pyrodactyl-auto-update-panel.sh
EnvironmentFile=/etc/pyrodactyl/auto-update-panel.env
StandardOutput=journal
StandardError=journal
